@model Display_y_DisplayTemplates.Controllers.Persona

<div class="form-group">
    @Html.LabelFor(Model => Model.Nombre):
    @Html.DisplayFor(Model => Model.Nombre)
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.Empleado):
    @Html.DisplayFor(Model => Model.Empleado)
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.Edad):
    @Html.DisplayFor(Model => Model.Edad)
</div>


<div class="form-group">
    @Html.LabelFor(Model => Model.Nacimiento):
    @Html.DisplayFor(Model => Model.Nacimiento)
</div>