@model WebApplication1.Controllers.Automovil
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div>

        <span class="label label-success">@Html.LabelFor(model => model.marca)</span>
        @Html.DisplayFor(model => model.marca)

        <span class="label label-success">@Html.LabelFor(model => model.placa)</span>
        @Html.DisplayFor(model => model.placa)

        <span class="label label-success">@Html.LabelFor(model => model.modelo)</span>
        @Html.DisplayFor(model => model.modelo)

    </div>
</body>
</html>
